.button {
    pointer-events: auto;
    cursor: pointer;
    background: #e7e7e7;
    border: none;
    padding: 5px 10px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
}

.button::before,
.button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.buttonPan {
    composes: button;
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 3rem;
    overflow: hidden;
    color: #fff;
}

.buttonPan span {
    position: relative;
    mix-blend-mode: difference;
}

.WelcomeButton {
    composes: buttonPan;
}

.VoteButton {
    composes: buttonPan;
    margin-top: 80px;
    margin-bottom: 0;
}