.headerContainer {
    padding: 5px 0px;
    display: flex;
    justify-content: space-evenly;

}

.homeContainer {
    margin-right: 0;
    display: flex;
    align-items: center;

}

.menuContainer {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    

}

.menuItem {
    padding: 0px 20px;
    border-right: 2px solid #000;
}

.menuItemEnd {
    composes: menuItem;
    border-right: 0px;
}

.itemSeparator {
    border-left: 2px solid #000;
    display: inline-block;
    height: 130px;
    margin: 0 20px;
}

.connectContainer {
    display: flex;
    align-self:  flex-end;

}


.searchInput::placeholder {
    letter-spacing: 1.5px;
}