

.homeContainer {
  margin-top: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly

}

.buttonContainer {
  margin: 40px 0;
  display: flex;
  align-items: center;
  
}
.paddButton {
  padding-right: 50px;
  
}
.mainTitle{
font-size: 60px;
}
.welcomeImg {}

.tagline {}

.img {
  max-width: 700px;
  height: auto;
}

@media (max-width: 1600px) { 
  .img {
    max-width: 600px;
    height: auto;
  }
  
}