

.homeContainer {
  margin-top: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly

}

.buttonContainer {
  margin: 40px 0;
  display: flex;
  align-items: center;
  
}
.mainTitle{
font-size: 60px;
}
.welcomeImg {}

.tagline {}

.img {
  max-width: 700px;
  height: auto;
}